{% extends 'layout.html.twig' %}

{% block content %}

    <section class="slide" data-active-project="">
        <a data-cursor="" href="/Home/index" class="closebtn">&times;</a>
        <ul>
            <li class="sidenav" data-project="about">
                <h1 class="aboutTitre">Hugo Gehl</h1>
                <p class="aboutExplications">Né aux Pays-Bas puis de retour après quelques années en Lorraine,
                    j’étudie depuis quatres ans à LISAA Strasbourg. En troisième année de Bachelor Design
                    Graphique numérique et imprimée je construis mon univers autour de l’illustration, du street art
                    et de la musique. J’ai une approche expérimentale des choses, j’aime sortir de mes zones de confort
                    et mélanger les médiums. Photographie, informatique, peintures, pochoirs, collages et autres,
                    pour explorer de nouvelles pistes afin d’accroître ma créativité.
                    <br>J'ai découvert cette année un intérrêt pour le développement web. J'utilise HTML, CSS,
                    Tachyons et un peu de Javascript, j'adore cherché a comprendre ses languages.
                    J'ai donc codé ce portfolio pour me faire un peu la main.</p>
                <p class="aboutContact">
                    Téléphone&thinsp;: 06 29 70 25 23
                    <br>Mail&thinsp;: <a data-cursor="" class="lienMail" href="mailto:hugogehl@yahoo.fr">hugogehl@yahoo.fr</a>
                    <br>Instagram&thinsp;: <a data-cursor="" class="lienInsta" href="" target="_blank">hugg_az</a>
                </p>
            </li>
        </ul>
    </section>

{% endblock %}