{% extends 'layout.html.twig' %}

{% block content %}

    <section class="page" data-active-project="">
        <a data-cursor="" href="/Home/index" class="closebtn">&times;</a>
        <div class="sidenav" data-project="artoop">
            <h1 class="pagesTitre">Artoop</h1>
            <p class="pagesExplications">Notions&thinsp;: Street art, expositions.
                <br><br>Demande&thinsp;: Réaliser la communication visuel d'une galerie d'art qui s'implenterait
                au sein de la COOP lors de sa réhabilitation.
                <br><br>Descriptif&thinsp;: Projet de diplôme fictif pour mon BTS.
                <br>J'ai donc réalisé l'identité visuelle de la galerie d'art spécialisée dans le Street art
                nommée Artoop, l’évènementiel pour les expositions et ateliers ainsi qu’un catalogue d’exposition.
                <br>L'ensemble de mes visuels sont basés sur le lien que créé les deux « o »,
                la forme ainsi obtenue rappelle les liens qui seront présents au sein de la COOP entre les différentes
                personnes du quartier. Il y a également un rappel à la forme caractéristique arrondi d’un spray
                à la bombe. Les dégradés de couleurs vives sont également  typique des couleurs que l’on peut obtenir
                à l’aide d’une bombe de peinture. </p>
            <div class="containerPages">
                <ul class="pagesListe">
                    {% for photoArtoop in photoArtoops %}
                        <li data-cursor="" class="filterDivPages">
                            <img src="/assets/images/artoop/{{ photoArtoop.name }}" alt="photo {{ photoArtoop.name }}">
                        </li>
                    {% else %}
                        <tr><td colspan="5">Nothing to display</td></tr>
                    {% endfor %}
                </ul>
            </div>
            <div class="photoArtoopBlock"></div>
        </div>
    </section>

{% endblock %}