{% extends 'layout.html.twig' %}

{% block content %}

    <section class="page" data-active-project="">
        <a data-cursor="" href="/Home/index" class="closebtn">&times;</a>
        <div class="sidenav" data-project="worldsCocktails">
            <h1 class="pagesTitre">World's cocktails</h1>
            <p class="pagesExplications">Notions&thinsp;: Cocktails, tutoriel, recette.
                <br><br>Demande&thinsp;: Réaliser une vidéo en motion design, expliquant la réalisation
                d'un cocktails choisi.
                <br><br>Descriptif&thinsp;: Tutoriel vidéo expliquant la recette et la façon de faire
                un sex on the beach.</p>
            <div class="photoWorldsCocktailsBlock">
                <div class="videoContainer">
                    <video class="video" width="1280" height="720" controls>
                        <source src="https://hugogehl.github.io/website/vidéos/Worlds_cocktail.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>

{% endblock %}