<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Hugo Gehl</title>
        <link rel="stylesheet" href="/assets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    </head>

    <body>

        {% block content %}{% endblock %}

        {% block javascripts %}
            <script src="/assets/script.js"></script>
        {% endblock %}

    </body>
</html>
